body{
    text-align: center;
    color: #181d1f;

}
.contents{
    
    padding:5%;
    padding-top: 0;

    width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: 'Merriweather', serif;
}
.contents-span{
    position: relative;
    right: 10%;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}
p{
    font-family: 'Open Sans', sans-serif;
    padding:0%  50% 0% 0%;
    text-align: justify;
color: #293236;
}
.admin-col,.user-col{
    text-align: left;
    padding-left: 8%;
}
